body {
  padding-top: 20px;
  padding-left: 17px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.container-fluid, .container-fluid * {
  overflow-x: display; }

@media screen and (max-width: 900px) {
  body {
    padding-left: none !important;
    padding-right: none !important; } }
.site-nav {
  font-size: 4.5em; }
  .site-nav :hover {
    cursor: pointer;
    text-decoration: none !important;
    color: transparent;
    text-shadow: 0 0 10px #000; }
  .site-nav a {
    color: #333; }
  .site-nav #twitter-container {
    position: relative; }
    .site-nav #twitter-container #new-img {
      position: absolute;
      top: 0;
      left: 0; }

#about-page {
  font-size: 1em; }

#about-page a {
  text-decoration: underline; }

#about-page a:hover {
  color: blue;
  cursor: pointer; }

#contact-page {
  font-size: 1em; }

#contact-page a {
  text-decoration: underline; }

#contact-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page {
  font-size: 1em; }

#client-logos img,
#client-logos div {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  margin-top: 3em;
  margin-bottom: 3em;
  content: ''; }

#client-logos img:hover,
#client-logos div:hover {
  cursor: pointer;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

img#audi,
div#audi {
  height: 3em;
  background-image: url(/images/Audi.jpg); }

img#chicago,
div#chicago {
  height: 8.286em;
  background-image: url(/images/CAB.jpg); }

img#gsapp,
div#gsapp {
  height: 3.286em;
  background-image: url(/images/GSAPP.jpg); }

img#louisvuitton,
div#louisvuitton {
  height: 2.214em;
  background-image: url(/images/LouisVuitton.jpg); }

img#microsoft,
div#microsoft {
  height: 3.857em;
  background-image: url(/images/Microsoft.jpg); }

img#newmuseum,
div#newmuseum {
  height: 6.786em;
  background-image: url(/images/NewMuseum.jpg); }

img#sunnylands,
div#sunnylands {
  height: 3.5em;
  background-image: url(/images/Sunnylands.jpg); }

img {
  content: ""; }

body .row.content a#content {
  font-size: 1em;
  color: #333;
  text-decoration: none;
  border-style: none; }

#content a {
  text-decoration: underline;
  color: #333; }

#content a:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 5px #000; }
