body {
  padding-top: 20px;
  padding-left: 17px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.container-fluid, .container-fluid * {
  overflow-x: display; }

@media screen and (max-width: 900px) {
  body {
    padding-left: none !important;
    padding-right: none !important; } }
.site-nav {
  font-size: 4.5em;
  font-family: 'Cinzel', serif; }
  .site-nav .top-link:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: transparent;
    text-shadow: 0 0 10px #000; }
  .site-nav a {
    color: #333; }
  .site-nav #twitter-container {
    position: relative; }
    .site-nav #twitter-container #new-img {
      position: absolute;
      top: 0;
      left: 0; }

#about-page {
  font-size: 1em; }

#about-page a {
  text-decoration: underline; }

#about-page a:hover {
  color: blue;
  cursor: pointer; }

#contact-page {
  font-size: 1em; }

#contact-page a {
  text-decoration: underline; }

#contact-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page {
  font-size: 1em; }

#client-logos {
  font-family: 'Cinzel',  serif !important;
  font-size: 4.5em !important; }

#client-logos div, #client-logos a {
  width: 250px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px; }

#client-logos a:hover {
  cursor: pointer;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

img {
  content: ""; }

body .row.content a#content {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #000;
  text-decoration: none;
  border-style: none;
  display: visible;
  margin-left: 0px; }

.top-buffer {
  margin-top: 10px; }

img.img-responsive:hover {
  -webkit-filter: blur(5px) !important; }

#content a {
  text-decoration: underline;
  color: #000; }

#content a:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 5px #000; }
