a {
  color: #333; }

body, html {
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box; }

.site-nav {
  font-size: 4.5em; }
  .site-nav :hover {
    color: blue;
    cursor: pointer; }

#about-page {
  font-size: 1em; }

#about-page a {
  text-decoration: underline; }

#about-page a:hover {
  color: blue;
  cursor: pointer; }

#contact-page {
  font-size: 1em; }

#contact-page a {
  text-decoration: underline; }

#contact-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page {
  font-size: 1em; }

#work-page a {
  text-decoration: underline; }

#work-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page img {
  padding: 2em 4em 1em 0em;
  width: 16em;
  height: auto;
  display: block; }
