a {
  color: #333; }

body, html {
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box; }

.site-nav {
  font-size: 4.5em; }
  .site-nav :hover {
    color: blue;
    cursor: pointer; }

#about-page {
  font-size: 1em; }

#about-page a {
  text-decoration: underline; }

#about-page a:hover {
  color: blue;
  cursor: pointer; }

#contact-page {
  font-size: 1em; }

#contact-page a {
  text-decoration: underline; }

#contact-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page {
  font-size: 1em; }

#client-logos img {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  margin-top: 3em;
  margin-bottom: 3em;
  content: ''; }

#client-logos img:hover {
  cursor: pointer; }

img#audi {
  height: 3em;
  background-image: url(/images/Audi.jpg); }

img#audi:hover {
  height: 3em;
  background-image: url(/images/Audi-blue.jpg); }

img#chicago {
  height: 8.286em;
  background-image: url(/images/CAB.jpg); }

img#chicago:hover {
  height: 8.286em;
  background-image: url(/images/CAB-blue.jpg); }

img#gsapp {
  height: 3.286em;
  background-image: url(/images/GSAPP.jpg); }

img#gsapp:hover {
  height: 3.286em;
  background-image: url(/images/GSAPP-blue.jpg); }

img#microsoft {
  height: 3.857em;
  background-image: url(/images/Microsoft.jpg); }

img#microsoft:hover {
  height: 3.857em;
  background-image: url(/images/Microsoft-blue.jpg); }

img#newmuseum {
  height: 6.786em;
  background-image: url(/images/NewMuseum.jpg); }

img#newmuseum:hover {
  height: 6.786em;
  background-image: url(/images/NewMuseum-blue.jpg); }

img#sunnylands {
  height: 3.5em;
  background-image: url(/images/Sunnylands.jpg); }

img#sunnylands:hover {
  height: 3.5em;
  background-image: url(/images/Sunnylands-blue.jpg); }
