body {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  box-sizing: border-box; 
  background-color: #f7f5ef;}

.container-fluid, .container-fluid * {
  overflow-x: display; }

@media screen and (max-width: 992px) {
  body {
    padding: 40px; 
    font-size: 1em;} }

@media screen and (max-width: 768px) {
  body {
    padding: 30px; 
    font-size: .9em;} }

@media screen and (max-width: 667px) {
  body {
    padding: 20px; 
    font-size: .7em;} }

.site-nav {
  font-size: 3em;
  font-family: 'Cardo', serif; 
  color: #000; }
  .site-nav a {
    color: #000;
    text-decoration: underline; }
  .site-nav a:hover {
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 10px #000; } }

#about-page {
  font-size: 1em; }

#about-page a {
  text-decoration: underline; }

#about-page a:hover {
  color: blue;
  cursor: pointer; }

#contact-page {
  font-size: 1em; }

#contact-page a {
  text-decoration: underline; }

#contact-page a:hover {
  color: blue;
  cursor: pointer; }

#work-page {
  font-size: 1em; }

#client-logos {
  font-family: 'Roboto', sans-serif !important;
  font-size: 5em !important; }

#client-logos div, #client-logos a {
  width: 250px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px; }

#client-logos a:hover {
  cursor: pointer;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); }

#writing-page {
  font-size: 1em; }

#writing-page a {
  text-decoration: underline; }

#writing-page a:hover {
  color: blue;
  cursor: pointer; }

img {
  content: ""; }

body .row.content a#content {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #000;
  text-decoration: none;
  border-style: none;
  display: visible;
  margin-left: 0px; }
  @media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    body .row.content a#content {
      font-size: 1.5em; } }

.top-buffer {
  margin-top: 10px; }

img.img-responsive:hover {
  -webkit-filter: blur(5px) !important; }

#content a {
  text-decoration: underline;
  color: #000; }

#content a:hover {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 5px #000; }
